.blue {
    background-color: blue;
    height: 40px;
    width: 25px;
}

.container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    

}

.rouge {
    background-color: red;
    height: 40px;
    width: 25px;
}

.blanc {
    background-color: white;
    height: 40px;
    width: 25px;
    
}

